@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  font-size: 16px;
}
.card-table {
  background-color: #fff;
  width: 100%;
  border-spacing: 0;
  text-align:center;
}
.card-table th,
.card-table td {
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.card-table th {
  background-color: #ededed;
}

.discount{
    border:1px solid #3bc53b;
    padding: 4px 8px;
    background-color: #d3f8d3;
}

.hidden{
    display:none;
}

.add-discount:hover,
#add-discount:hover
{
    cursor:pointer;
}

.marked{
    background-color:rgb(255, 242, 207)
}

.card-table td input{
    width:30px;
}

.delete{
  background:none;
  border:0;
  font-size:18px;
  color:grey;
  cursor:pointer;
}

input{
  padding:6px;
  border:0;
  border-bottom:3px solid grey;
  background-color:rgb(230, 230, 230);
  text-align:center;
}